/.idea
/nbproject
/nbproject/
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.DS_Store
web/.DS_Store
web/assets/.DS_Store
web/assets/fnat/observations/
web/assets/fnat/naturalistes/
