/.idea/

/nbproject/
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/
/vendor/
/web/bundles/
.DS_Store

src/AppBundle/Form/ObservationType.php
composer.lock
composer.phar
web/fnat/