/.idea
/.idea/
/nbproject
/nbproject/
/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.DS_Store
var/logs/dev.log
app/config/parameters.yml

web/assets/.DS_Store
src/AppBundle/Form/ObservationType.php
web/fnat/photos/17171717-0909-0101_53a7fab7ca28b520eaea5306cedbba3afcf4cd4db6d7e639b3c74f169bc8c25d70cb04bd18c6c1493cb5a4db908b383211c3.jpg
