@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #c0a375;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #c0a375;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #c0a375;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #c0a375;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #c0a375;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #c0a375;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #c0a375;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #c0a375;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #c0a375 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #c0a375;
}
.theme-border {
  border: 1px solid #c0a375;
}
#msg-box5-6 H3 {
  font-size: 36px;
  color: #69b0ab;
}
#msg-box5-6 P {
  color: #69b0ab;
}
#msg-box5-6 .btn {
  font-size: 16px;
}
#msg-box3-t .mbr-section-title,
#msg-box3-t p {
  color: #000;
}
#msg-box3-t .mbr-section-title {
  text-align: center;
  font-size: 46px;
  color: #ffffff;
}
#msg-box3-t .lead P {
  color: #ffffff;
}
#msg-box3-t .lead {
  color: #ffffff;
}
#msg-box5-8 H3 {
  font-size: 30px;
  color: #69b0ab;
}
#msg-box3-7 .mbr-section-title,
#msg-box3-7 p {
  color: #000;
}
#msg-box3-7 .mbr-section-title {
  color: #ffffff;
  font-size: 24px;
}
#msg-box3-7 .lead {
  color: #69b0ab;
}
#msg-box3-7 .lead DIV {
  color: #ffffff;
}
#social-buttons2-s .mbr-section-title,
#social-buttons2-s .btn-social {
  color: #232323;
}
#social-buttons2-s .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-3f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3f .navbar-caption {
  color: #ffffff;
}
#menu-3f .navbar-toggler {
  color: #69b0ab;
}
#menu-3f .link,
#menu-3f .dropdown-item {
  color: #69b0ab;
}
#menu-3f .link {
  font-size: 0.8rem;
}
#menu-3f .dropdown-item,
#menu-3f .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3f .link:hover,
#menu-3f .dropdown-item:hover,
#menu-3f .link:focus,
#menu-3f .dropdown-item:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-menu {
  background: #e6e6e6;
}
#menu-3f .nav-dropdown-sm .link:focus,
#menu-3f .nav-dropdown-sm .link:hover,
#menu-3f .nav-dropdown-sm .dropdown-item:focus,
#menu-3f .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3f .navbar,
#menu-3f .nav-dropdown-sm,
#menu-3f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3f .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3f .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-3f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3f .bg-color.transparent.opened .link:hover,
#menu-3f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3f .close-icon::before,
#menu-3f .close-icon::after {
  background-color: #69b0ab;
}
#header1-b .mbr-section-title {
  font-size: 30px;
}
#header1-b .mbr-section-lead {
  font-size: 20px;
}
#menu-3f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3f .navbar-caption {
  color: #ffffff;
}
#menu-3f .navbar-toggler {
  color: #69b0ab;
}
#menu-3f .link,
#menu-3f .dropdown-item {
  color: #69b0ab;
}
#menu-3f .link {
  font-size: 0.8rem;
}
#menu-3f .dropdown-item,
#menu-3f .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-3f .link:hover,
#menu-3f .dropdown-item:hover,
#menu-3f .link:focus,
#menu-3f .dropdown-item:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-menu {
  background: #e6e6e6;
}
#menu-3f .nav-dropdown-sm .link:focus,
#menu-3f .nav-dropdown-sm .link:hover,
#menu-3f .nav-dropdown-sm .dropdown-item:focus,
#menu-3f .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-3f .navbar,
#menu-3f .nav-dropdown-sm,
#menu-3f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3f .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-3f .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-3f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3f .bg-color.transparent.opened .link:hover,
#menu-3f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-3f .link[aria-expanded="true"],
#menu-3f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-3f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3f .close-icon::before,
#menu-3f .close-icon::after {
  background-color: #69b0ab;
}
#extHeader12-29 H3 {
  font-size: 32px;
  text-align: right;
}
#extHeader12-29 P {
  font-size: 16px;
  text-align: right;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}
#content1-2g P {
  color: #ffffff;
  text-align: left;
}
#content1-2g UL {
  text-align: center;
}
#form2-54 .mbr-section-title {
  color: #fff;
}
#form2-54 .mbr-section-subtitle {
  color: #ffffff;
}
#social-buttons2-2h .mbr-section-title,
#social-buttons2-2h .btn-social {
  color: #232323;
}
#social-buttons2-2h .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#extForm3-1q H2 {
  font-size: 32px;
  text-align: left;
  color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}

#extHeader9-1f H3 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
#extHeader9-1f H4 {
  font-size: 23px;
}
#extFeatures2-1o H2 {
  color: #69b0ab;
  font-size: 30px;
}
#extFeatures2-1o .intro-box h4 {
  font-size: 16px;
}
#extFeatures2-1o P {
  text-align: right;
}
#extTestimonials1-1t .mbr-section-title {
  color: #ffffff;
}
#extTestimonials1-1t .card-block P {
  color: #000000;
}
#extTestimonials1-1t .card-footer > small {
  color: #565656;
}
#extFeatures13-1u .etl-icon {
  color: #666666;
}
#extFeatures13-1u .mbr-section-title {
  font-size: 30px;
  color: #69b0ab;
}
#extFeatures13-1u H4 {
  color: #69b0ab;
}
#extHeader12-4w H3 {
  font-size: 32px;
}
#extHeader12-1y H3 {
  font-size: 32px;
}
#extHeader12-1y P {
  font-size: 16px;
}
#extFeatures7-51 .mbr-section-title {
  color: #69b0ab;
}
#form2-52 .mbr-section-title {
  color: #fff;
}
#form2-52 .mbr-section-subtitle {
  color: #ffffff;
}
#social-buttons2-20 .mbr-section-title,
#social-buttons2-20 .btn-social {
  color: #232323;
}
#social-buttons2-20 .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}

#extHeader9-21 H3 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
}
#extHeader9-21 H4 {
  font-size: 23px;
}
#extFeatures2-22 H2 {
  color: #69b0ab;
  font-size: 30px;
}
#extFeatures2-22 .intro-box h4 {
  font-size: 16px;
}
#extFeatures2-22 P {
  text-align: right;
}
#extTestimonials1-23 .mbr-section-title {
  color: #ffffff;
}
#extTestimonials1-23 .card-block P {
  color: #000000;
}
#extTestimonials1-23 .card-footer > small {
  color: #565656;
}
#extFeatures13-24 .etl-icon {
  color: #666666;
}
#extFeatures13-24 .mbr-section-title {
  font-size: 30px;
  color: #69b0ab;
}
#extFeatures13-24 H4 {
  color: #69b0ab;
}
#extHeader12-25 H3 {
  font-size: 32px;
  text-align: right;
}
#extHeader12-25 P {
  font-size: 16px;
  text-align: right;
}
#form2-4v .mbr-section-title {
  color: #fff;
}
#form2-4v .mbr-section-subtitle {
  color: #ffffff;
}
#extFeatures7-26 .mbr-section-title {
  color: #69b0ab;
}
#social-buttons2-27 .mbr-section-title,
#social-buttons2-27 .btn-social {
  color: #232323;
}
#social-buttons2-27 .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#content5-2w .mbr-section-title,
#content5-2w p {
  color: #fff;
}
#content5-2w .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#content5-2w P {
  color: #69b0ab;
}
#content5-2w .mbr-section-title SPAN {
  font-size: 20px;
}
#form2-55 .mbr-section-title {
  color: #fff;
}
#form2-55 .mbr-section-subtitle {
  color: #ffffff;
}
#content5-56 .mbr-section-title,
#content5-56 p {
  color: #fff;
}
#content5-56 .mbr-section-title {
  color: #69b0ab;
  font-size: 22px;
}
#content5-56 P {
  color: #69b0ab;
}
#content5-56 .mbr-section-title SPAN {
  font-size: 20px;
}
#extTable1-57 .mbr-section-title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#extTable1-57 TH {
  color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#content5-2o .mbr-section-title,
#content5-2o p {
  color: #fff;
}
#content5-2o .mbr-section-title {
  color: #69b0ab;
  font-size: 32px;
}
#content5-2o P {
  color: #69b0ab;
}
#extTable1-2t .mbr-section-title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#extTable1-2t TH {
  color: #ffffff;
}
#extTable1-2u .mbr-section-title {
  font-size: 30px;
  color: #69b0ab;
  text-align: left;
}
#extTable1-2u TH {
  color: #69b0ab;
}
#content5-2v .mbr-section-title,
#content5-2v p {
  color: #fff;
}
#content5-2v .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#content5-2v P {
  color: #ffffff;
}
#form2-5b .mbr-section-title {
  color: #fff;
}
#form2-5b .mbr-section-subtitle {
  color: #ffffff;
}
#content5-5c .mbr-section-title,
#content5-5c p {
  color: #fff;
}
#content5-5c .mbr-section-title {
  color: #69b0ab;
  font-size: 22px;
}
#content5-5c P {
  color: #69b0ab;
}
#content5-5c .mbr-section-title SPAN {
  font-size: 20px;
}
#extTable1-5d .mbr-section-title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#extTable1-5d TH {
  color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#extHeader10-39 H3 {
  color: #ffffff;
  font-size: 46px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#form2-5e .mbr-section-title {
  color: #fff;
}
#form2-5e .mbr-section-subtitle {
  color: #ffffff;
}
#social-buttons2-5f .mbr-section-title,
#social-buttons2-5f .btn-social {
  color: #232323;
}
#social-buttons2-5f .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#extHeader12-5g H3 {
  font-size: 32px;
}
#social-buttons2-3r .mbr-section-title,
#social-buttons2-3r .btn-social {
  color: #232323;
}
#social-buttons2-3r .mbr-section-title {
  color: #ccbba3;
  font-size: 36px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#content5-3t .mbr-section-title,
#content5-3t p {
  color: #fff;
}
#content5-3t .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#content5-3t P {
  color: #ffffff;
}
#extTable1-3y .mbr-section-title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#extTable1-3y TH {
  color: #ffffff;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#msg-box6-5l .mbr-section-title,
#msg-box6-5l .lead p {
  color: #fff;
}
#msg-box6-5l H3 {
  color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#msg-box6-5o .mbr-section-title,
#msg-box6-5o .lead p {
  color: #fff;
}
#msg-box6-5o H3 {
  color: #69b0ab;
}
#content5-5w .mbr-section-title,
#content5-5w p {
  color: #fff;
}
#content5-5w .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#content5-5w P {
  color: #69b0ab;
}
#content1-5q P {
  color: #ffffff;
}
#content1-5s P {
  color: #ffffff;
}
#content5-5v .mbr-section-title,
#content5-5v p {
  color: #fff;
}
#content5-5v .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#content5-5v P {
  color: #69b0ab;
}
#extTable1-5u .mbr-section-title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}
#extTable1-5u TH {
  color: #69b0ab;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#content5-3l .mbr-section-title,
#content5-3l p {
  color: #fff;
}
#content5-3l .mbr-section-title {
  color: #ffffff;
  font-size: 22px;
}
#content5-3l P {
  color: #69b0ab;
}
#content5-3l .mbr-section-title SPAN {
  font-size: 20px;
}
#extHeader10-4u H3 {
  color: #ffffff;
  font-size: 46px;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
#content5-34 .mbr-section-title,
#content5-34 p {
  color: #fff;
}
#content5-34 .mbr-section-title {
  color: #ffffff;
  font-size: 32px;
}
#content5-34 P {
  color: #ffffff;
}
#extForm4-35 H2 {
  color: #69b0ab;
  font-size: 36px;
}
#extForm4-35 .intro-box h5 {
  text-align: center;
}
#menu-4r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4r .navbar-caption {
  color: #ffffff;
}
#menu-4r .navbar-toggler {
  color: #69b0ab;
}
#menu-4r .link,
#menu-4r .dropdown-item {
  color: #69b0ab;
}
#menu-4r .link {
  font-size: 0.8rem;
}
#menu-4r .dropdown-item,
#menu-4r .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-4r .link:hover,
#menu-4r .dropdown-item:hover,
#menu-4r .link:focus,
#menu-4r .dropdown-item:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-menu {
  background: #e6e6e6;
}
#menu-4r .nav-dropdown-sm .link:focus,
#menu-4r .nav-dropdown-sm .link:hover,
#menu-4r .nav-dropdown-sm .dropdown-item:focus,
#menu-4r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-4r .navbar,
#menu-4r .nav-dropdown-sm,
#menu-4r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-4r .bg-color.transparent .link {
  color: #69b0ab;
  transition: none;
}
#menu-4r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4r .bg-color.transparent.opened .link:hover,
#menu-4r .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-4r .link[aria-expanded="true"],
#menu-4r .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-4r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-4r .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-4r .close-icon::before,
#menu-4r .close-icon::after {
  background-color: #69b0ab;
}
