{# app/Resources/views/footer.html.twig #}

<!--  footer  -->
<section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-w" style="background-color: rgb(204, 187, 163); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <div>
                    <a href="/">
                        <img src="{{ asset('assets/images/logo-rectangle-185x128.png') }}">
                    </a>
                </div>
            </div>

            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p>
                    <strong>
                        Adresse
                    </strong>
                    <br>
                    7 cité du Paradis
                    <br>
                    75 010 Paris
                    <br>
                    France
                </p>
            </div>

            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p>
                    <strong>
                        <a href="/contact">
                            Contact
                        </a>
                    </strong>
                    <br>
                    Email: info@nao.fr
                    <br>
                    Phone: 01 40 00 00 01
                    <br>
                </p>
            </div>

            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p>
                    <strong>
                        Partenaires
                    </strong>

                    <br>

                    <a href="http://www.mnhn.fr/fr/" target="_blank" class="text-white">
                        MNHN
                    </a>

                    <br>

                    <a href="https://europa.eu/european-union/index_fr" target="_blank" class="text-white">
                        Union européenne
                    </a>

                    <br>
                    <br>
                </p>
                <p>

                </p>
            </div>

        </div>
    </div>
</section>

<div class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright (c) 2016 Flash Nature - Nao</p>
    </div>
</div>