<footer>
    <div class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="container">
                <p class="text-xs-center"><a href="{{ path('fn_dashboard_index' , {'alt':"administration"})}}">Administration</a></p>
            </div>
        {% endif %}
        <div class="container">
            <p class="text-xs-center">Copyright (c) 2016 Flash Nature - Nao</p>
            <p class="text-xs-center">Site réalisé par :
                <a href="https://www.digitalsciencefactory.com">DigitalScienceFactory</a>
            </p>
        </div>
    </div>
</footer>