    <div class="
    {% for class in app.flashes('noticeClass') %}
        {{ class }}
    {% endfor %}
    ">
        {% for message in app.flashes('notice') %}
        {{ message }}
    {% endfor %}
    </div>