{# app/Resources/views/tales/_observation_espece_html.twig #}
<div class="mbr-section" id="content5-56" style=" padding-top: 0; padding-bottom: 10px;">
    <div class="container">
        <h3 class="mbr-section-title display-2 text-white">
            {% if obsList is defined %}
                {% if obsList != null %}
                    Résultat(s) de recherche
                {% else %}
                    Aucune observation enregistrée
                {% endif %}
            {% else %}
                Tableau des observations : 
            {% endif %}
        </h3>
    </div>
</div>

<div class="mbr-section extTable1" id="extTable1-57" style="background-color: rgb(255, 255, 255); padding-top: 0; padding-bottom: 0;">
    <div class="container table-wrapper">
        <table class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Date</th>
                <th>Fiche</th>
            </tr>
            </thead>
                <tbody>
                {% if obsMap is defined %}
                    {% for observation in obsMap %}
                        {% if observation.statut == 'STATUT_VALIDE' %}
                            <tr>
                                <td>{{ observation.dObs|date('d/m/Y') }}</td>
                                <td><a href="{{ path('fn_fiche_observation', {id: observation.id}) }}">En savoir +</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% else %}
                        <tr class="text-center">
                            <td colspan="2">Aucune observation validée </td>
                        </tr>
                {% endif %}
                </tbody>
        </table>
    </div>
</div>
