<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<p>Votre message a bien été transmis à Flash Nature par NAO.</p>

<p>Votre message est le suivant :</p>

<p>{{ contact.prenom }} {{ contact.nom }}</p>
<p>{{ contact.titre }}</p>
<br />
<p>{{ contact.message }}</p>

<p>Ce message est un message automatique, merci de ne pas y répondre.</p>
<p>----</p>
<p>L'équipe de FlashNature</p>

</body>