<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<p>{{ contact.prenom }}  {{ contact.nom }} vous a envoyé le message suivant :</p>
<br />
<p>sujet : <span>{{ contact.titre }}</span></p>
<br />
<p>{{ contact.message }}</p>

<p>Vous pouvez répondre à cet email en cliquant simplement sur "Répondre" de votre boite mail.</p>
<p>----</p>
<p>FlashNature</p>
</body>
