<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<p>{{ user.pseudo }},</p>

<p>Votre compte  sur flashnature.digitalsciencefactory.com est de nouveau actif.</p>

<p>Ce message est un message automatique, merci de ne pas y répondre.</p>
<p>----</p>
<p>L'équipe de FlashNature</p>
</body>
