<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<p>{{ user.pseudo }}</p>
<p>Merci de votre inscription sur flashnature.digitalsciencefactory.com.</p>
<p>Après étude de votre candidature, votre demande de statut naturaliste ne peut cependant être validé. </p>

<p>CPour vous connecter à votre compte, comme particulier, cliquez sur ce lien : </p>

<p><a href="https://flashnature.digitalsciencefactory.com/login">connexion</a>

<p>En cas de problèmes techniques, merci de nous contacter via le formulaire à cette adresse : <a href="https://flashnature.digitalsciencefactory.com/contact">https://flashnature.digitalsciencefactory.com/contact</a></p>
<p>Ce message est un message automatique, merci de ne pas y répondre.</p>
<p>----</p>
<p>L'équipe de FlashNature</p>
</body>
