<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
Cher visiteur,

<p>Votre inscription à la newsletter Flash Nature a bien été prise en compte.</p>

<p>Vous recevrez très prochainement notre prochain  numéro.</p>

<p>Découvrez notre application Flash Nature en cliquant sur ce lien : https://flashnature.digitalsciencefactory/inscription</p>

<p>Ce message est un message automatique, merci de ne pas y répondre.</p>
<p>----</p>
<p>L'équipe de FlashNature</p>
</body>