<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<p>Observation n°{{ observation.id }} validée</p>

{{ observation.observateur.pseudo }},

La validation de l'observation {observation.id} a été prise en compte et nous vous remercions de votre participation.

Remarques du naturaliste :
<p>{{ observation.commNat }}</p>

<p>Rendez-vous sur Flash Nature pour examiner de nouvelle observation :
<a href="https://flashnature.digitalsciencefactory.com/participer/envoi-observation">Envoyer une observation</a>

</body>

<p>----</p>
<p>L'équipe de FlashNature</p>