{# app/Resources/views/front/blocks/_partenaires.html.twig #}

<!--  partenaires -->
<section class="mbr-cards mbr-section extFeatures" id="extFeatures7-26" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 80px;">
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center title-wrap">
                    <h3 class="mbr-section-title display-2">
                        Nos partenaires
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-6">
            <div class="container">
                <div class="card cart-block">
                    <div class="feature-img">
                        <a href="http://mnhn.fr">
                            <img src="{{ asset('assets/images/mnhn-log-600x332.png') }}" class="card-img-top"></a>
                    </div>
                    <div class="card-block">
                        <h4 class="feature-title">
                            <a href="http://mnhn.fr" class="text-black">
                                Muséum Nationnal d'Histoire Naturelle
                            </a>
                        </h4>

                        <div class="delimiter"></div>

                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-cards-col col-xs-12 col-lg-6">
            <div class="container">
                <div class="card cart-block">
                    <div class="feature-img">
                        <a href="https://europa.eu/european-union/index_fr">
                            <img src="{{ asset('assets/images/ue-log-600x332.png') }}" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-block">
                        <h4 class="feature-title">
                            <a href="https://europa.eu/european-union/index_fr" class="text-black">
                                Union Européenne
                            </a>
                        </h4>

                        <div class="delimiter"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>