<form action="https://mobirise.com/" method="post">


    <div class="col-xs-12">
        <input type="text" class="form-control" name="name" required="" data-form-field="Name" placeholder="Nom de l'espèce">
    </div>

    <div class="col-xs-12" style="padding-left: 15px">
        <input type="text" class="form-control" name="email" required="" data-form-field="Email" placeholder="Lieu  (saisir l'adresse ou pointer sur la carte)">
    </div>

    <div class="col-xs-12">
        <input type="text" class="form-control" name="phone" required="" data-form-field="Phone" placeholder="Date ">
    </div>

    <div class="col-xs-12">
        <textarea class="form-control" name="message" rows="7" data-form-field="Message" style="resize:none" placeholder="Commentaire pour le naturaliste + ajouter bouton &quot;télécharger photo&quot;"></textarea>
    </div>
    <div class="col-xs-12 buttons_wrap"><button type="submit" class="btn btn-danger">Envoyer</button></div>
</form>