{# app/Resources/views/forms/_kit_form.html.twig #}

<!--  formulaire kit observation -->

<section class="mbr-section extForm1" id="extForm1-1x" style="background-color: rgb(105, 176, 171); padding-top: 50px; padding-bottom: 50px;">
    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">

            <div class="container">
                <div class="row">
                    <div class="mbr-table-md-up">

                        <div class="mbr-table mbr-valign-top col-md-5">

                            <div class="mbr-figure">
                                <img src="{{ asset('assets/images/newsletters-copie-626x626.png') }}" class="central-image">
                            </div>

                        </div>
                        <div class="mbr-table-cell col-md-7 text-md-left">

                            <h2 class="display-2 h-black">
                                Recevez notre lettre d'informations
                            </h2>

                            <div class="row">
                                <div class="col-md-12 parentInverse">
                                    <div class="col-md-12 col-lg-6 inverse-content" style="padding-left: 15px;">

                                        <div class="intro-box right">
                                            <span class="iconBackground">
                                                <span class="icon">
                                                    <span class="etl-icon icon-presentation mbr-iconfont-form1" style="color: rgb(255, 255, 255);"></span>
                                                </span>
                                            </span>

                                            <div class="contentInverse" style="padding-left: 15px;">
                                                <h4 class="h-black text-right">
                                                    Rapport d'études
                                                </h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 inverse-content" style="padding-left: 15px;">
                                        <div class="intro-box right">
                                            <span class="iconBackground">
                                                <span class="icon">
                                                    <span class="etl-icon icon-newspaper mbr-iconfont-form1" style="color: rgb(255, 255, 255);"></span>
                                                </span>
                                            </span>

                                            <div class="contentInverse" style="padding-left: 15px;">
                                                <h4 class="h-black text-right">
                                                    Invitation conférences
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-left: 0; padding-right: 0;" data-form-type="formoid">
                                <form action="" method="post" data-form-title="KIT OBSERVATION">

                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" name="name" required="" data-form-field="Name" placeholder="Nom*">
                                    </div>

                                    <div class="col-xs-6" style="padding-left: 15px">
                                        <input type="text" class="form-control" name="phone" required="" data-form-field="Phone" placeholder="Code postal*">
                                    </div>

                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" name="email" required="" data-form-field="Email" placeholder="Email*">
                                    </div>

                                    <div class="col-xs-12 buttons_wrap" style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-black">
                                            S'inscrire
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>