<form action="" method="post" data-form-title="Envie d'agir pour la nature ?">
    <div class="col-xs-12">
        <input type="text" class="form-control" name="name" required="" data-form-field="Name" placeholder="Pseudo*">
    </div>

    <div class="col-xs-12">
        <input type="text" class="form-control" name="email" required="" data-form-field="Email" placeholder="Email*">
    </div>

    <div class="col-xs-12">
        <input type="password" class="form-control" name="mdp" required="" data-form-field="password" placeholder="Mot de passe ">
    </div>

    <div class="col-xs-12">
        <input type="password" class="form-control" name="mdp_control" required="" data-form-field="password" placeholder="Confirmer mot de passe ">
    </div>

    <br>

    <div class="col-xs-12" style="margin-top: 10px; text-align: center">
        <button type="submit" class="btn btn-white">
            Je m'inscris
        </button>
    </div>

    <div class="mbr-section-lead lead">
        Déjà membre ?
        <p>
            Connectez-vous en
            <a href="/connexion">
                cliquant ici
            </a>
        </p>

    </div>
</form>