<!--  Formulaire inscription -->
<section class="mbr-section mbr-section-hero mbr-section-full extHeader9 mbr-after-navbar" id="extHeader9-1f" style="background-image: url({{ asset('assets/images/mbr-1-2000x1328.jpg') }});">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">

                        <div class="mbr-table-cell mbr-right-padding-md-up col-md-7 text-xs-center text-md-right">

                            <h3 class="mbr-section-title display-2">
                                Envie d'agir pour la nature ?
                            </h3>

                            <div class="mbr-section-text lead">
                                <p>
                                    Inscrivez-vous à Flash Nature et contribuez à lʼétude des modifications climatiques et leurs impacts sur la biodiversité en rejoignant une action solidaire.
                                </p>
                            </div>

                        </div>

                        <div class="form-table mbr-valign-top col-md-12  formblock" data-form-type="formoid">
                            <h4 class="mbr-section-title display-2 form-title">
                                Inscrivez-vous !
                            </h4>

                            <form action="" method="post" data-form-title="Envie d'agir pour la nature ?">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="name" required="" data-form-field="Name" placeholder="Pseudo*">
                                </div>

                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="email" required="" data-form-field="Email" placeholder="Email*">
                                </div>

                                <div class="col-xs-12">
                                    <input type="password" class="form-control" name="mdp" required="" data-form-field="password" placeholder="Mot de passe ">
                                </div>

                                <div class="col-xs-12">
                                    <input type="password" class="form-control" name="mdp_control" required="" data-form-field="password" placeholder="Confirmer mot de passe ">
                                </div>

                                <br><br>

                                <div class="col-xs-12" style="margin-top: 10px; text-align: center">
                                    <button type="submit" class="btn btn-white">
                                        Je m'inscris
                                    </button>
                                </div>

                                <div class="mbr-section-lead lead">
                                    Déjà membre ?
                                    <p>
                                        Connectez-vous en
                                        <a href="/connexion">
                                            cliquant ici
                                        </a>
                                    </p>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating hidden-sm-down" aria-hidden="true">
        <a href="#extFeatures2-1o">
            <i class="mbr-arrow-icon"></i>
        </a>
    </div>

</section>