{# app/Resources/views/front/connexion.html.twig #}

{% extends "base.html.twig" %}


{% block title %}
    Validation de l'inscription - {{ parent() }}
{% endblock %}

{% block body %}
    <section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-b" style="background-image: url('assets/images/soleil-dans-la-foret-visuel-large-1-2000x1499.jpg');">

        <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

        <div class="mbr-table-cell">
            <div class="container">
                <div class="row">
                    <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">
                        <div class="mbr-section-btn">
                            <div class="{{ classMessage }}">{{ message }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock body %}
