<section class="mbr-section mbr-section__container" id="map2-2x" style="background-color: rgb(105, 176, 171); padding-top: 60px; padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-map">
                    <div id="carteObservationMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>


