<!-- CARTE DES OBSERVATIONS SELON L'ESPECE -->
<section class="mbr-section mbr-after-navbar" id="content5-2w" style="background-color: rgb(105, 176, 171); padding-top: 120px; padding-bottom: 0px;">
    <div class="container">
        <h3 class="mbr-section-title display-2">Carte des observations validées</h3>
    </div>
</section>

<!--  Zone de recherche  -->
<section class="mbr-section" id="form2-55" style="background-color: rgb(105, 176, 171); padding-top: 0; padding-bottom: 40px;">
    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                    {{ include('participer/forms/_carte_observation_form.html.twig') }}
            </div>
        </div>
    </div>
</section>

<!--  Carte -->
<section class="mbr-section mbr-section__container" id="map2-2x" style="background-color: rgb(105, 176, 171); padding-top: 60px; padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mbr-map">
                    <div id="carteObservationMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>


