{# app/Resources/views/blocks/_photo_observation.html.twig #}
<div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 36%;">
    <div class="mbr-figure">
        {% if observation.photo != null %}
            <img src="{{asset('assets/fnat/observations/' ~ observation.photo ~ '')}}">
        {% else %}
            <img src="{{asset('photo.png')}}">
        {% endif %}
    </div>
</div>
