{# app/Resources/views/blocks/_photo_observation.html.twig #}
<div class="mbr-table-cell " style="padding-top: 10px; padding-bottom: 10px">
    <div class="img-fluid">
        {% if observation.photo != null %}
            <img src="{{asset('assets/fnat/observations/' ~ observation.photo ~ '')}}" style="height: 100%; width: 100%">
        {% else %}
            <img src="{{asset('photo.png')}}" style="height: 50%; width: 50%">
        {% endif %}
    </div>
</div>
