{# app/Resources/views/front/accueil.html.twig #}

{% extends "baseDashboard.html.twig" %}


{% block title %}
    Accueil - {{ parent() }}
{% endblock %}


{% block body %}
{{  parent() }}
    <section class="mbr-section" id="content5-2" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">



        <div class="container">

            <div class="lead"><p><strong>Bienvenue sur votre espace Admnistration&nbsp;</strong></p></div>
        </div>

    </section>

    {% include("messagesValidation.html.twig") %}

    <section class="mbr-section" id="content5-3" style="background-color: rgb(163, 143, 132); padding-top: 40px; padding-bottom: 0px;">



        <div class="container">
            <h3 class="mbr-section-title display-2">Compte en attente de validation&nbsp;</h3>

        </div>

    </section>

    <section class="mbr-section mbr-section__container" id="buttons1-4" style="background-color: rgb(163, 143, 132); padding-top: 20px; padding-bottom: 40px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-xs-center"><a class="btn btn-white" href="/dashboard/naturalistes-a-valider">Naturaliste en attente de validation&nbsp;</a> <a class="btn btn-white-outline btn-white" href="/dashboard/observateurs-a-valider">Particulier en attente validation&nbsp;</a></div>
                </div>
            </div>
        </div>

    </section>

    <section class="mbr-section" id="content5-5" style="background-color: rgb(163, 143, 132); padding-top: 40px; padding-bottom: 0px;">



        <div class="container">
            <h3 class="mbr-section-title display-2">Membres inscrits&nbsp;</h3>

        </div>

    </section>

    <section class="mbr-section mbr-section__container" id="buttons1-6" style="background-color: rgb(163, 143, 132); padding-top: 20px; padding-bottom: 80px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-xs-center"><a class="btn btn-white" href="/dashboard/naturalistes">Naturalistes</a> <a class="btn btn-white-outline btn-white" href="/dashboard/observateurs">Observateurs</a></div>
                </div>
            </div>
        </div>

    </section>

    <section class="mbr-section" id="content5-7" style="background-color: rgb(163, 143, 132); padding-top: 0px; padding-bottom: 0px;">



        <div class="container">
            <h3 class="mbr-section-title display-2">Comptes bannis</h3>

        </div>

    </section>

    <section class="mbr-section mbr-section__container" id="buttons1-8" style="background-color: rgb(163, 143, 132); padding-top: 20px; padding-bottom: 80px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="text-xs-center">
                        <a class="btn btn-white" href="/dashboard/bannis">Comptes bannis</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

{% endblock body %}
