{# app/Resources/views/front/accueil.html.twig #}

{% extends "baseDashboard.html.twig" %}


{% block title %}
    Particuliers en attente de validation - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .img-responsive{
            max-width: 400px !important;
            max-height: 400px !important;
        }
        .slimbtn {
            padding: .375rem 1.6rem !important;
            font-size: 0.75rem !important;
        }
        .left{
            float: left !important;
        }
        .right{
            float: right !important;
        }
    </style>
{% endblock stylesheets %}

{% block body %}
    {{  parent() }}

    {# bloc explications de la page #}
    <section class="mbr-section" id="content5-13" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 0px;">
        <div class="container">
            <h3 class="mbr-section-title display-2">Particuliers en attente de validation&nbsp;<br></h3>
            <div class="lead">
                <p>
                    <strong>Les comptes particuliers en attente ci-dessous sont les comptes en attente de validation de mail par le système d'inscription. Via ce tableau vous pouvez forcer l'inscription d'un utilisateur qui aurait un problème de validation..</strong>
                </p>
                <p>
                    <strong>En cas de problématique technique : assistance@digitalsciencefactory.com</strong>
                </p>
            </div>
        </div>
    </section>
    {# fin bloc explications de la page #}

    {# bloc affichage des natularistes en attente #}
    {% include("dashboard/block/_blck_tab_observateurs_avalider.html.twig") %}
    {# fin bloc affichage des naturalistes#}
{% endblock body %}

{% block javascripts %}
    {{ parent() }}


{% endblock javascripts %}
