<!--  Qui sommes-nous ? -->
<section class="mbr-section mbr-after-navbar" id="msg-box5-2a" style="background-color: rgb(255, 255, 255); padding-top: 80px; padding-bottom: 40px;">
    <div class="container">
        <div class="mbr-section row">
            <div class="mbr-table-md-up">
                <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                    <div class="mbr-figure">
                        <img src="{{ ('assets/images/mbr-1400x933.jpg') }}">
                    </div>
                </div>

                <div class="mbr-table-cell col-md-6 text-xs-center text-md-left content-size">
                    <h3 class="mbr-section-title display-2">
                        Qui somme-nous ?
                    </h3>

                    <div class="mbr-section-text lead">
                        <p>Flash Nature est une plateforme<br>collaborative créée par l’association NAO<br>(Nos Amis les Oiseaux).<br>
                            NAO est une association loi 1901 créée en 2014 par Monsieur Dujardin, pasionné d’ornithologie.<br><br>
                            Tout au long de l’année, NAO met en place un programme d’actions et animations visant à sensibiliser le public à la préservation des oiseaux.<br><br>
                            NAO tient également un rôle important de centralisation des connaissance en organisant régulièrement des conférences au sein de ses locaux parisiens.<br>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
