{# app/Resources/views/front/blocks/_applicationPar.html.twig #}

<!--  application Particulier-->

<section class="mbr-section mbr-section-hero mbr-section-full extFeatures2" id="extFeatures2-1o" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">

                        <div class="mbr-table mbr-valign-top col-md-5">
                            <div class="mbr-figure">
                                <img src="{{ asset('assets/images/2480x480-tel-visuels-636x900.png') }}" class="central-image"></div>
                        </div>
                        <div class="mbr-table-cell mbr-left-padding-md-up col-md-7 text-xs-center text-md-right">
                            <h2 class="display-2 h-black">
                                Flash Nature,une application aux services des oiseaux
                            </h2>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-2 parentInverse">
                                    <div class="intro-box right iconBackgroundBottomLineInverse" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-key mbr-iconfont-extFeatures2" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Inscription sécurisée
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Contrôle du statut de naturaliste pour veiller à ce que les données ne soient pas exploitées à des fins de braconage
                                            </p>
                                        </div>

                                    </div>
                                    <div class="intro-box right iconBackgroundBottomLineInverse" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-layers mbr-iconfont-features6" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Base de données de qualité
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Accès aux données collectées pour vos recherches scientifiques (accès réservé)
                                            </p>
                                        </div>

                                    </div>
                                    <div class="intro-box right" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-piechart mbr-iconfont-features6" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Etude certifiée
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Projet encadré par lʼassociation NAO (Nos Amis les Oiseaux) mandatée par le MNHN et lʼUnion Européenne.                                         </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>