<!--  Application  -->
<section class="mbr-section mbr-section-hero mbr-section-full extFeatures2" id="extFeatures2-1o" style="background-color: rgb(255, 255, 255);">
    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">

                        <div class="mbr-table mbr-valign-top col-md-5">
                            <div class="mbr-figure">
                                <img src="{{ asset('assets/images/2480x480-tel-visuels-636x900.png') }}" class="central-image"></div>
                        </div>
                        <div class="mbr-table-cell mbr-left-padding-md-up col-md-7 text-xs-center text-md-right">
                            <h2 class="display-2 h-black">
                                Flash Nature,une application aux services des oiseaux
                            </h2>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-2 parentInverse">
                                    <div class="intro-box right iconBackgroundBottomLineInverse" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-camera mbr-iconfont-extFeatures2" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Une idée d'activité de pein air
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Profiter d'une balade en fôret, dans un parc, votre jardin, pour observer les oiseaux présents autour de vous.<br>
                                                Au fur et à mesure, devenez incollable !
                                            </p>
                                        </div>

                                    </div>
                                    <div class="intro-box right iconBackgroundBottomLineInverse" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-book-open mbr-iconfont-features6" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Une resource de documentation
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Grâce au Kit et Carte d'Observation, retrouvez tous les conseils utiles sur l'univers des oiseaux.
                                            </p>
                                        </div>

                                    </div>
                                    <div class="intro-box right" style="display: block;">
                                        <span class="iconBackgroundInverse">
                                            <span class="icon">
                                                <span class="etl-icon icon-piechart mbr-iconfont-features6" style="color: #333333"></span>
                                            </span>
                                        </span>

                                        <div>
                                            <h4 class="h-black text-right">
                                                Rapport d'étude en exclusivité
                                            </h4>

                                            <p class="mbr-section-text-gray lead h-black">
                                                Pour vous remercier de votre participation, le rapport d'études rédigé chaque trimestre, vous sera envoyé par mail en exclusivité .
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
