{# app/Resources/views/front/blocks/_features.html.twig #}

<!--  features  -->
<section class="mbr-cards mbr-section mbr-section-nopadding" id="features6-c" style="background-color: rgb(239, 239, 239);">
    <div class="mbr-cards-row row">

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img">
                        <a href="/participer/observation" class="mbri-camera mbr-iconfont mbr-iconfont-features3" style="color: rgb(61, 185, 179);"></a>
                    </div>
                    <div class="card-block">

                        <h4 class="card-title">
                            Envoi
                        </h4>

                        <p class="card-text">
                            Un formulaire d'envoi vous permet de partager votre observation en ligne.<br>
                        </p>

                        <div class="card-btn">
                            <a href="/participer/observation" class="btn btn-primary">
                                Conseils observation
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">

                    <div class="card-img">
                        <a href="/naturaliste" class="mbri-search mbr-iconfont mbr-iconfont-features3" style="color: rgb(61, 185, 155);"></a>
                    </div>

                    <div class="card-block">

                        <h4 class="card-title">
                            Analyse
                        </h4>

                        <p class="card-text">
                            Un naturaliste valide et certifie la qualité des observations
                        </p>

                        <div class="card-btn">
                            <a href="/naturaliste" class="btn btn-primary">
                                Qu'est ce qu'un naturaliste
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><a href="/observations" class="mbri-database mbr-iconfont mbr-iconfont-features3" style="color: rgb(61, 185, 173);"></a>
                    </div>

                    <div class="card-block">
                        <h4 class="card-title">
                            Base de donnée
                        </h4>

                        <p class="card-text">
                            Toutes les observations collectées sont réunis dans un base de données.
                        </p>

                        <div class="card-btn">
                            <a href="/observations" class="btn btn-primary">
                                Voir les dernières observations
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mbr-cards-col col-xs-12 col-lg-3" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img">
                        <a href="/utilité-observations" class="mbri-protect mbr-iconfont mbr-iconfont-features3" style="color: rgb(61, 185, 167);"></a>
                    </div>

                    <div class="card-block">
                        <h4 class="card-title">
                            Protection
                        </h4>

                        <p class="card-text">
                            Science participative dans le but de préserver les oiseaux
                        </p>

                        <div class="card-btn">
                            <a href="utilité-observations" class="btn btn-primary">
                                A quoi servent les observations ?
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>