<!--  Télécharger kit observation -->
<section class="mbr-section mbr-section-hero mbr-section-full extHeader12 tab-content" id="extHeader12-4w" style="background-color: rgb(105, 176, 171);">
    <div class="mbr-table mbr-table-full">
        <div class="mbr-table-cell">
            <div class="container">
                <div class="mbr-section row">
                    <div class="mbr-table-md-up">

                        {% include("messagesValidation.html.twig") %}

                        <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-6 image-size">
                            <div class="mbr-figure">
                                <img src="{{ asset('assets/images/kit-observation-illustration-479x479.png') }}">
                            </div>
                        </div>

                        <div class="mbr-table-cell col-md-6 text-xs-center text-md-left content-size">
                            <h3 class="mbr-section-title display-2">
                                Télechargez Kit observation
                            </h3>

                            <div class="mbr-section-text lead">
                                <p>
                                    Conseils d'observation et fiches oiseau<br>pour mieux appréhender l'univers des oiseaux.
                                </p>
                            </div>
                            <div class="left-button">
                                <a type="submit" class="btn btn-white" href="{{ asset('assets/fnat/pdf/Kit-observation.pdf') }}" target="_blank()">
                                    Télécharger
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
