{# app/Resources/views/front/blocks/_kit.html.twig #}

<!--  kit observation -->
<section class="mbr-section article" id="msg-box3-t" style="background-color: rgb(61, 185, 176); padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">
                    Kit observation
                </h3>

                <div class="lead">
                    <p>
                        <span style="font-size: 1.07rem; line-height: 1.5;">
                            Obtenez le kit complet et gratuit composé de fiches conseils sur l'univers des oiseaux
                        </span>
                    </p>
                </div>

                <div>
                    <a class="btn btn-white" href="/kit-observation">
                        En savoir +
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>