<!--  Mot du president -->
<section class="mbr-slider mbr-section mbr-section-nopadding carousel slide extTestimonials1" data-ride="carousel" data-keyboard="false" data-wrap="true" data-pause="false" data-interval="false" id="extTestimonials1-1t" style="background-color: rgb(105, 176, 171); padding-top: 80px; padding-bottom: 40px;">
    <div class="mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">
                        Le mot du Président
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container boxed-slider">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="mbr-testimonial card mbr-testimonial-lg">
                            <div class="card-block">
                                <p>
                                    « Notre mission pour Flash Nature est de créer une action solidaire à l’échelle nationale, permettant d’étudier et préserver notre biodiversité.<br>
                                    La participation de la population est le coeur de ce projet .»
                                </p>
                            </div>

                            <div class="mbr-author card-footer">
                                <div class="mbr-author-img">
                                    <a href="">
                                        <img src="{{ asset('assets/images/mr-dujardin-nao-portrait-160x137.png') }}" class="img-circle">
                                    </a>
                                </div>

                                <div class="mbr-author-name">
                                    Monsieur Dujardin
                                </div>

                                <small class="mbr-author-desc">
                                    Président de l'association NAO
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
