{# app/Resources/views/front/blocks/_nao.html.twig #}

<!--  nao -->
<section class="mbr-section article" id="msg-box3-7" style="background-color: rgb(105, 176, 171); padding-top: 80px; padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">

                <h3 class="mbr-section-title display-2">
                    Association <br>
                    « Nos Amis les Oiseaux » <br>
                    (NAO)
                    <p></p>
                </h3>

                <div class="lead">
                    <span style="color: rgb(255, 255, 255); font-size: 1.07rem; line-height: 1.5;">
                        NAO est une association loi 1901 créée en 2014 par Monsieur Dujardin, pasionné d’ornithologie.
                    </span>
                </div>

                <div>
                    <a class="btn btn-white" href="/a-propos">
                        En savoir +
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>