{# app/Resources/views/front/blocks/_naturaliste.html.twig #}

<!--  naturaliste  -->
<section class="mbr-section" id="msg-box5-e" style="background-color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 40px;">
    <div class="container">
        <div class="row">
            <div class="mbr-table-md-up">

                <div class="mbr-table-cell mbr-right-padding-md-up mbr-valign-top col-md-7 image-size" style="width: 50%;">
                    <div class="mbr-figure">
                        <img src="{{ asset('assets/images/naturaliste-jumelle-observation-nature-1400x2097.jpg') }}"></div>
                </div>

                <div class="mbr-table-cell col-md-5 text-xs-center text-md-left content-size">

                    <h3 class="mbr-section-title display-2">
                        Naturalistes
                    </h3>

                    <div class="lead">
                        <p>
                            Mettez votre expertise aux services de la préservation des oiseaux
                        </p>
                    </div>

                    <div>
                        <a class="btn btn-primary" href="/inscription/naturaliste">
                            Je m'inscris
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>