<!--  Processus  -->
<section class="mbr-section extFeatures13" id="extFeatures13-1u" style="background-color: rgb(255, 255, 255); padding-top: 100px; padding-bottom: 100px;">
    <div class="elements-content">
        <div class="container titleBlock">
            <div class="col-xs-12 text-xs-center">
                <div class="title_wrapper">
                    <h3 class="mbr-section-title display-2">
                        Le processus
                    </h3>
                </div>
            </div>
        </div>

        <div class="container timelineHeight">
            <ul class="timeline">
                <li class="timeline-normal separline" style="display: block;">
                    <div class="date date-normal">
                        <p class="mbr-section-text-gray lead h-black">
                            Etape 1
                        </p>
                    </div>

                    <span class="iconBackground first_span">
                        <span class="icon">
                            <span class="etl-icon icon-telescope mbr-iconfont-extFeatures2" style="color: #666666"></span>
                        </span>
                    </span>

                    <div class="timeline-panel">
                        <h4 class="h-black text-right">
                            Observation
                        </h4>

                        <p class="mbr-section-text-gray lead h-black">
                            Observation dʼun oiseau au cours de votre balade (Nom de lʼoiseau, lieu et date de lʼobservation, photo)
                        </p>
                    </div>
                </li>

                <li class="timeline-inverted separline" style="display: block;">
                    <div class="date date-inverted">
                        <p class="mbr-section-text-gray lead h-black">
                            Etape 2
                        </p>
                    </div>

                    <div class="timeline-panel">
                        <h4 class="h-black">
                            Saisie
                        </h4>

                        <p class="mbr-section-text-gray lead h-black">
                            Saisie de votre observation grâce au formulaire d'envoi d'observation de l'application Flash Nature
                        </p>
                    </div>

                    <span class="iconBackgroundInverse">
                          <span class="icon">
                            <span class="mbri-touch mbr-iconfont-features6" style="color: #666666"></span>
                        </span>
                    </span>

                </li>

                <li class="timeline-normal separline" style="display: block;">
                    <div class="date date-normal">
                        <p class="mbr-section-text-gray lead h-black">
                            Etape 3
                        </p>
                    </div>

                    <span class="iconBackground">
                        <span class="icon">
                            <span class="etl-icon icon-envelope mbr-iconfont-features6" style="color: #666666"></span>
                        </span>
                    </span>

                    <div class="timeline-panel">
                        <h4 class="h-black text-right">
                            Envoi
                        </h4>

                        <p class="mbr-section-text-gray lead h-black">
                            Envoi automatique de votre observation à un naturaliste professionnel
                        </p>
                    </div>
                </li>

                <li class="timeline-inverted separline" style="display: block;">
                    <div class="date date-inverted">
                        <p class="mbr-section-text-gray lead h-black">
                            Etape 4
                        </p>
                    </div>

                    <div class="timeline-panel">
                        <h4 class="h-black">
                            Analyse
                        </h4>

                        <p class="mbr-section-text-gray lead h-black">
                            L'observation est analysée par un naturaliste profesionnel.
                        </p>
                    </div>

                    <span class="iconBackgroundInverse">
                        <span class="icon">
                            <span class="etl-icon icon-profile-male mbr-iconfont-features6" style="color: #666666"></span>
                        </span>
                    </span>
                </li>

                <li class="timeline-normal separline" style="display: block;">
                    <div class="date date-normal">
                        <p class="mbr-section-text-gray lead h-black">
                            Etape 5
                        </p>
                    </div>

                    <span class="iconBackground">
                        <span class="icon">
                            <span class="etl-icon icon-layers mbr-iconfont-features6" style="color: #666666"></span>
                        </span>
                    </span>

                    <div class="timeline-panel">
                        <h4 class="h-black text-right">
                            Validation
                        </h4>

                        <p class="mbr-section-text-gray lead h-black">
                            Si donnée validée, intégration automatique dans la base de données,visible sur la «carte des observations»
                        </p>
                    </div>
                </li>
            </ul>

            <div class="title_wrapper bottom_title_wrapper">
                <h3 class="mbr-section-title display-2">&nbsp;&nbsp;</h3>
            </div>

        </div>
    </div>
</section>
