{# app/Resources/views/front/carte-des-observations.html.twig #}

{% extends "participer/observation_base.html.twig" %}

{% block title %}
    Carte des observations - {{ parent() }}
{% endblock %}


{% block body %}

<!--  Carte des observations valides par espèce -->
    <section class="mbr-section mbr-after-navbar" style="background-color: rgb(105, 176, 171); padding-top: 120px; padding-bottom: 0;">
        <div class="container">
            <h3 class="mbr-section-title text-white">Carte des observations validées</h3>
        </div>
    </section>

    {{ include('participer/forms/_autocomplete_form.html.twig') }}

    {{ include('participer/blocks/_carte_observation.html.twig') }}

<!--  Blocks -->

    {{ include('front/blocks/_follow.html.twig') }}

{% endblock body %}


