{# app/Resources/views/front/accueil.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
   Espace Naturaliste - {{ parent() }}
{% endblock %}


{% block body %}

<!--  Intro  -->
    <section class="mbr-section mbr-after-navbar" id="content5-2o" style="padding-top: 120px; padding-bottom: 40px;">
        <div class="container">
            <h3 class="mbr-section-title display-2">
                Espace Naturaliste
            </h3>
            <div class="lead">
                <p>
                    Cet espace dédié et réservé aux naturalistes, vous permet de consulter :
                </p>

                <ul class="text-blacklist-inline-item">
                    <li>
                        La liste des observations en attente de validation
                    </li>
                </ul>
                <ul class="text-black list-inline-item">
                    <li>
                        La liste et carte des observations validées
                    </li>
                </ul>
            </div>
        </div>
    </section>

<!--  Observation en attente -->
    <section class="mbr-section extTable1" id="extTable1-2t" style="background-color: rgb(105, 176, 171); padding-top: 40px; padding-bottom: 120px;">
        <div class="container">
            <h3 class="mbr-section-title display-2">
                Observations en attente
            </h3>
        </div>

        <div class="container table-wrapper">

            <table class="table" cellspacing="0" width="100%">
                Colonnes : Date / Espèces / Pseudo / lien "consulter"
            </table>
        </div>
    </section>

<!--  Observation validées -->
    <section class="mbr-section extTable1" id="extTable1-2u" style="background-color: rgb(255, 255, 255); padding-top: 120px; padding-bottom: 120px;">
        <div class="container">
            <h3 class="mbr-section-title display-2">
                Observations validées
            </h3>
        </div>

        <div class="container table-wrapper" >

            <table class="table" cellspacing="0" width="100%">
                Colonnes : Date / Espèces / Pseudo / lien "consulter"
            </table>
        </div>
    </section>

    {{ include('front/blocks/_observations.html.twig') }}

    {{ include('front/blocks/_follow.html.twig') }}

    {{ include ('front/blocks/_adresse.html.twig') }}

{% endblock body %}
